.reviews {

    &__inner {
        background: linear-gradient(90deg, rgb(32 32 32 / 9%) 0%, rgb(255, 255, 255) 49%, rgb(32 32 32 / 9%) 100%);
        
        
    }

    &__yandex {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &-map {
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
        }
   
    }

    &__title {
        color: var(--color-dark);
    }
    

}